@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Cairo', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f5f9; /* slate-100 */
}
::-webkit-scrollbar-thumb {
    background: #94a3b8; /* slate-400 */
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #64748b; /* slate-500 */
}

@media print {
    aside, header, .no-print {
        display: none !important;
    }
    main {
        padding: 0 !important;
        overflow: visible !important;
    }
    body {
        background-color: white !important;
    }
    .print-container {
        box-shadow: none !important;
        border: 1px solid #eee;
        border-radius: 0 !important;
    }
}

@layer components {
    .btn-press:active {
        transform: scale(0.98);
        transition: transform 0.1s ease-in-out;
    }
}